body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    background-color: #3882f6;
    border: 3px solid black;
    color: black;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 30px;
    margin: 20px;
    border-radius: 10px;
    cursor: pointer; 
}

.btn:hover {
    background-color: #1463e3;
}

.btn:active {
    background-color: #1463e3;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.color-buttons {
    display: flex;
}

.color-btn {
    border: 3px solid black;
    color: black;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 30px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    border: 2px solid black;
    /* width: 400px;
    height: 400px; */
}

/* .square-div {
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
} */